.others {
  padding-top: 2rem;
  padding-bottom: 3rem;
}
.ttl {
  font-size: 46px;
  font-weight: 500;
  margin-bottom: 3rem;
  text-align: center;
}
.others a {
  text-decoration: none;
  color: inherit;
  margin-bottom: 1rem;
  margin-right: 1.6rem;
}
.service {
  width: fit-content;
  background: linear-gradient(180deg, #202d4f 0%, #192034 100%);
  display: flex;
  align-items: center;
  padding: 8px 14px;
  border-radius: 8px;
  font-size: 17px;
}
.service svg {
  margin-right: 14px;
  width: 44px;
}
.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 1200px) {
  .ttl {
    font-size: 32px;
  }
  .service {
    font-size: 15px;
    border-radius: 6px;
  }
}

@media screen and (max-width: 800px) {
  .ttl {
    font-size: 26px;
  }
  .others {
    text-align: center;
  }
  .list {
    justify-content: center;
  }
  .others a {
    margin-right: 4%;
    width: 48%;
  }
  .others a:last-of-type {
    margin-right: 0;
  }
  .service {
    width: 100%;
    font-size: 14px;
  }
  .service svg {
    width: 36px;
  }
}

@media screen and (max-width: 600px) {
  .list {
    flex-direction: column;
    align-items: center;
  }
  .others a {
    margin-right: 0;
    width: fit-content;
    min-width: 300px;
  }
}