.navBg {
  border-bottom: 1px solid #243042;
}
.nav {
  max-width: var(--site-max-width);
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--site-max-pad);
}
.logo {
  width: 150px;
}
.navItems {
  max-width: 440px;
  width: 100%;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 200;
  font-size: 13px;
}
.navItem {
  color: inherit;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  height: 74px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn {
  padding: 14px 22px;
}
.navItem:hover [class*="wrap"] {
  display: block !important;
  top: 70px;
  z-index: 1;
  animation: fadeIn 0.2s ease-in;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
