.navBg {
  border-bottom: 1px solid #243042;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: var(--site-max-pad);
  padding-bottom: var(--site-max-pad);
}
.logo {
  width: 150px;
}
.navItems {
  max-width: 440px;
  width: 100%;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 200;
  font-size: 13px;
}
.navItem {
  color: inherit;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  padding: 10px 0;
}
.btn {
  padding: 14px 22px;
}
.navItem:hover [class*="wrap"] {
  display: block !important;
  top: 36px;
  z-index: 1;
}
