.apiSec {
  background: linear-gradient(180deg, #4677d7 0%, rgba(0, 52, 185, 0.62) 100%);
  display: flex;
  align-items: center;
  padding: 2.5rem;
  border-radius: 8px;
  margin-top: 6rem;
  margin-bottom: 5rem;
}
.txtSec {
  width: 40%;
}
.ttl {
  font-size: 34px;
  font-weight: 500;
  max-width: 300px;
  line-height: 1.4;
  margin-bottom: 1.2rem;
}
.txt {
  width: 90%;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.8;
  margin-bottom: 2.2rem;
  max-width: 350px;
}
.btn {
  padding: 14px 24px;
}
.img {
  width: 61%;
}

@media screen and (max-width: 1000px) {
  .img {
    width: 50%;
  }
  .txtSec {
    width: 50%;
  }
  .ttl {
    font-size: 30px;
    max-width: 240px;
  }
}

@media screen and (max-width: 800px) {
  .ttl {
    font-size: 24px;
    max-width: 200px;
  }
  .apiSec {
    padding: 2rem;
    margin-top: 0;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 700px) {
  .apiSec {
    border-radius: 0;
    width: 100vw;
    margin-left: -1rem;
    flex-direction: column-reverse;
    overflow: hidden;
    padding: 2rem 1rem 3.5rem;
  }
  .txtSec {
    width: 100%;
    margin-top: 2rem;
  }
  .img {
    width: 120%;
    margin-right: -20%;
  }
  .txt {
    font-size: 14px;
  }
}
