.btn {
  padding: 12px 24px;
  border-radius: 3.5px;
  font-weight: 600;
  border: 1px solid transparent;
}
.outline {
  color: var(--white);
  border-color: currentColor;
  background: transparent;
}
.transparent {
  background: none;
  color: var(--black);
}
.light {
  background: var(--white);
  color: var(--black);
  border-color: var(--white);
}
.dark {
  background: var(--black);
  color: #6f7282;
  border-color: var(--black);
}
