.services {
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 8rem;
}
.ttl {
  font-size: 2.8rem;
  font-weight: 500;
  margin-bottom: 3rem;
}
.txt1 {
  font-size: 19px;
  line-height: 1.8;
  max-width: 750px;
  margin: auto;
  font-weight: 300;
  margin-bottom: 10rem;
}
.serviceList {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}
.service {
}
.serviceIcon {
  width: 44px;
  margin-bottom: 3rem;
}
.serviceTtl {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 1.5rem;
}
.serviceTxt {
  font-size: 17.5px;
  font-weight: 400;
  max-width: 340px;
  line-height: 1.7;
  margin-bottom: 2rem;
  color: #6f7282;
}
button.serviceBtn {
  margin: auto;
  font-weight: 300;
  font-size: 12px;
  padding: 14px 20px;
}
.partners {
  text-align: center;
  padding-bottom: 10rem;
}
.txt2 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 3rem;
}
.partners div {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.partners svg {
}
.serviceBtn:hover {
  color: var(--secondaryText);
  background: #12171f;
}
.logo1 {
  width: 18vw;
  min-width: 18vw;
}
.logo2 {
  width: 20vw;
  min-width: 20vw;
}
.logo3 {
  width: 18vw;
  min-width: 18vw;
}
.logo4 {
  width: 20vw;
  min-width: 20vw;
}
.logo5 {
  width: 15vw;
  min-width: 15vw;
}
@media screen and (max-width: 1200px) {
  .ttl {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 1000px) {
  .txt1 {
    margin-bottom: 5rem;
  }
  .serviceList {
    flex-direction: column;
  }
  .service {
    margin-bottom: 3rem;
  }
  .serviceTxt {
    margin-left: auto;
    margin-right: auto;
  }
  .serviceIcon {
    margin-bottom: 2rem;
    width: 40px;
  }
}

@media screen and (max-width: 800px) {
  .ttl {
    font-size: 2.2rem;
  }
  .txt1 {
    font-size: 16px;
    max-width: 600px;
  }
  .serviceTtl {
    font-size: 24px;
  }
  .serviceTxt {
    font-size: 15px;
    max-width: 300px;
  }
  .partners {
    display: none;
  }
  .serviceList {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 600px) {
  .ttl {
    font-size: 2rem;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-25vw * 7.5));
  }
}

.slider {
  background: transparent;
  margin: auto;
  overflow: hidden;
  position: relative;
}
.slideTrack {
  animation: scroll 30s linear infinite;
  display: flex;
  width: calc(25vw * 15);
}
.slide {
  width: 25vw;
  padding-right: 3rem;
}
.slide svg {
  width: 100%;
  min-width: unset
}