.dropdownWrap {
  width: fit-content;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background: #12171f;
  width: 330px;
  position: absolute;
  font-weight: 400;
  left: 0;
  color: var(--white);
}
.item {
  padding: 14px;
  display: flex;
  align-items: flex-start;
}
.icon {
  margin-right: 14px;
  width: 30px;
  min-width: 30px;
}
.txt2 {
  font-size: 12px;
  color: var(--secondaryText);
  line-height: 1.5;
  margin-top: 8px;
}
.item:hover {
  background: #141b25;
}
.item:first-of-type {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
.item:last-of-type {
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}
.comingSoon {
  background: var(--white);
  color: var(--blue);
  padding: 4px 7px;
  border-radius: 20px;
  font-size: 8px;
  text-transform: capitalize;
  font-weight: 500;
  margin-left: 8px;
}
.nameWrap {
  display: flex;
  align-items: center;
}