.others {
  padding-top: 2rem;
  padding-bottom: 3rem;
}
.ttl {
  font-size: 46px;
  font-weight: 500;
  margin-bottom: 3rem;
}
.others a {
  text-decoration: none;
  color: inherit;
  margin-bottom: 1rem;
  margin-right: 1.6rem;
}
.service {
  width: fit-content;
  background: linear-gradient(180deg, #202d4f 0%, #192034 100%);
  display: flex;
  align-items: center;
  padding: 1.2rem 2rem;
  border-radius: 8px;
  font-size: 17px;
}
.service svg {
  margin-right: 12px;
}
.list {
  display: flex;
  flex-wrap: wrap;
}
