.contactWrapper {
  padding-top: 10rem;
  padding-bottom: 9rem;
}
.ttl {
  font-size: 3.4rem;
  font-weight: 500;
  margin-bottom: 2rem;
  line-height: 1.5;
  text-align: center;
}
.txt {
  text-align: center;
  font-size: 17px;
  max-width: 700px;
  line-height: 1.7;
  margin: 0 auto 3rem;
  font-weight: 300;
}
.form {
  background: #12141c;
  padding: 1.8rem 1.5rem;
  border-radius: 8px;
  max-width: 680px;
  margin: 0 auto;
}
.inputWrap {
  margin-bottom: 30px;
}
.form input {
  width: 100%;
  background: #1e2028;
  border: none;
  margin-bottom: 4px;
  border-radius: 4px;
  font-weight: 200;
  color: var(--white);
  padding-left: 1rem;
  font-size: 15px;
  height: 60px;
}
.form textarea {
  width: 100%;
  background: #1e2028;
  border: none;
  margin-bottom: 4px;
  border-radius: 4px;
  padding: 1rem;
  font-size: 15px;
  font-weight: 200;
  height: 340px;
  resize: none;
  color: var(--white);
}
.form input::placeholder,
.form textarea::placeholder {
  color: #939393;
}
.btn {
  width: fit-content;
  justify-content: center;
  margin: auto;
  padding: 12px 48px;
  font-size: 15px;
}
.errorMessage {
  font-size: 11px;
  font-weight: 300;
  color: #f45858;
}
@media screen and (max-width: 1000px) {
  .contactWrapper {
    padding-top: 8rem;
    padding-bottom: 4rem;
  }
  .ttl {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  .txt {
    font-size: 15px;
    max-width: 600px;
  }
  .form {
    max-width: 600px;
    padding: 2rem;
  }
  .form input {
    height: 54px;
    font-size: 14px;
    padding-left: 1rem;
  }
  .form textarea {
    padding-left: 1rem;
    padding-top: 1rem;
    font-size: 14px;
    height: 200px;
  }
}

@media screen and (max-width: 600px) {
  .ttl {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    font-weight: 600;
  }
  .form {
    padding: 1.5rem 1rem;
  }
  .contactWrapper {
    padding-top: 7rem;
    padding-bottom: 3rem;
  }
}
