.footer {
  padding: 14px var(--site-max-pad);
  max-width: var(--site-max-width);
  margin: auto;
  display: grid;
  grid-template-areas:
    "a b"
    "c .";
  grid-template-columns: 1.4fr 1fr;
  padding-top: 60px;
  padding-bottom: 160px;
  gap: 4rem 2rem;
}
.links {
  grid-area: a;
  display: flex;
  justify-content: space-between;
  max-width: 500px;
}
.news {
  grid-area: b;
}
.cc {
  grid-area: c;
}
.ttl {
  color: var(--secondaryText);
  margin-bottom: 1.5rem;
  font-size: 15px;
}
.items {
  list-style: none;
  line-height: 2.5;
  font-weight: 200;
  font-size: 15px;
  color: var(--white);
}
.items li {
}
.subscribe {
  font-size: 18px;
  font-weight: 300;
}
.form {
  margin: 1.5rem 0;
  display: flex;
}
.input {
  background: transparent;
  border: 1px solid var(--white);
  padding-left: 1rem;
  height: 46px;
  margin-right: 1rem;
  border-radius: 4px;
  width: calc(100% - 140px);
  font-size: 15px;
}
.btn {
  font-size: 16px;
  padding-left: 26px;
  padding-right: 26px;
}
.txt {
  color: var(--secondaryText);
  width: calc(100% - 140px);
  line-height: 1.7;
  font-size: 13px;
}
.copy {
  font-size: 18px;
  font-weight: 300;
}
.socials {
  margin-top: 1.8rem;
  display: flex;
  align-items: center;
}
.socials a {
  margin-right: 1rem;
}
.socials svg {
}
