*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  transition: 0.3s;
}

:root {
  --black: #0a0e14;
  --white: #fcfcfc;
  --blue: #2f5fdd;
  --orange: #f78532;
  --site-max-width: 1210px;
  --site-max-pad: 1rem;
  --secondaryText: #6f7282;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: var(--white);
  background: var(--black);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

html {
  overflow-x: hidden;
}
/* width and height */
::-webkit-scrollbar {
  width: 5px;
  height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2f5fdd80;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2f5fdd80;
}

button,
input,
textarea {
  outline: none !important;
  font-family: "Inter", sans-serif;
}
svg {
  width: initial;
  height: auto;
}

.siteWrapper {
  max-width: var(--site-max-width);
  margin: auto;
  padding-left: var(--site-max-pad);
  padding-right: var(--site-max-pad);
}

[role="button"] {
  cursor: pointer;
}
