.collectionBg {
  background-image: url("../../../assets/vectors/collectionBg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.collectionWrap {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.ttl {
  text-align: center;
  color: var(--black);
  font-size: 3.7rem;
  font-weight: 500;
  margin-bottom: 6rem;
}
.collection {
  display: flex;
  justify-content: center;
}
.imgSec {
  width: 45%;
  position: relative;
  text-align: right;
  display: flex;
  justify-content: center;
  /* padding-bottom: 2rem; */
  max-width: 450px;
}
.txtSec {
  width: 50%;
  color: var(--black);
}
.imgSec img {
  position: absolute;
  width: 100%;
}
.mainImage {
  position: relative !important;
}
.krypto2 {
  transform: rotate(-4.92deg);
}
.krypto3 {
  transform: rotate(5.96deg);
}
.imageSlide {
  animation-name: roll-in;
  animation-duration: 0.7s;
  animation-timing-function: cubic-bezier(0.02, 0.3, 0.58, 1);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.imgSec img {
  right: 100vw;
}
.imgSec > div {
  min-height: 400px;
}
.krypto2 {
  animation-duration: 0.62s;
}

@keyframes roll-in {
  0% {
    right: 100vw;
    transform: rotate(25deg);
  }
  100% {
    right: 0;
  }
}

.btnWrap {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.btn {
  font-size: 16px;
}
.collectionItem {
  max-width: 450px;
  margin-left: auto;
  margin-bottom: 3rem;
}
.collectionTtl {
  color: var(--secondaryText);
  font-weight: 600;
  font-size: 17px;
  cursor: pointer;
}
.collectionSubTtl {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 20px;
}
.collectionTxt {
  font-size: 15px;
  line-height: 1.8;
}
.activeCollection {
  position: relative;
  animation: moveUp 0.3s ease-out;
}
.activeCollection .collectionTtl {
  font-weight: 700;
  font-size: 23px;
  margin-bottom: 14px;
  color: var(--black);
}
.collectionMobile {
  display: none;
}
.collectionBody {
  overflow: hidden;
  height: 0;
  transition: height 0.3s ease-in-out;
}
.activeCollection .collectionBody {
  height: auto;
}
@keyframes moveUp {
  0% {
    top: -2rem;
  }
  100% {
    top: 0;
  }
}
@media screen and (max-width: 1200px) {
  .ttl {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 1000px) {
  .imgSec > div {
    min-height: 350px;
  }
  .collection {
    justify-content: space-between;
  }
  .btn {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 800px) {
  .ttl {
    font-size: 2.2rem;
    margin-bottom: 4.5rem;
  }
  .collectionWrap {
    padding-top: 4rem;
    padding-bottom: 5rem;
  }
  .collection {
    display: none;
  }
  .collectionMobile {
    display: flex;
    color: var(--black);
  }
  img.krypto1.imageSlide {
    position: relative;
  }
  .collectionBody {
    height: unset !important;
  }
  .kronos {
    display: flex;
    align-items: center;
    text-align: center;
    height: fit-content;
    margin-right: 2rem;
    margin: auto;
    margin-bottom: 3rem;
  }
  .kronos button {
    background: var(--secondaryText);
    min-width: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
  }
  .kronos button svg path {
    fill: var(--white);
  }
  .leftCtrl {
    transform: rotate(90deg);
  }
  .rightCtrl {
    transform: rotate(-90deg);
  }
  .imgSecMobile {
    margin: 0 1rem;
    width: 100%;
    position: relative;
  }
  .imgSecMobile img {
    right: 100vw;
    position: absolute;
    width: 100%;
    bottom: 0;
  }
  .showImg {
    display: block !important;
  }
  .collectionMobileItem {
    margin: auto;
    max-width: 400px;
  }
  .collectionItem {
    text-align: center;
    margin-bottom: 0;
    /* visibility: hidden; */
    display: none;
  }
  .activeCollection {
    /* visibility: visible; */
    display: block;
  }
  .collectionItem br {
    display: none;
  }
  .btn {
    margin-top: 3rem;
  }
  .activeCollection .collectionTtl {
    font-size: 20px;
  }
}
@media screen and (max-width: 600px) {
  .ttl {
    font-size: 2rem;
  }
}
